.App {
  /* text-align: left; */
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: larger;
}

a:hover {
  color: black;
  font-weight: bold;
  font-size: larger;
  text-decoration: underline;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  position: fixed;
  top: 0;
}

.header-text {
  margin: 1% 2%;
}

.home {
  max-height: 100vh;
  min-width: 100%;
  /* display: flex;
  align-items: center;
  justify-content: space-around; */
  color: black;
  font: system;
}

.side-menu {
  width: 20%;
  padding: 0% 0% 0% 5%;
  max-height: 100%;
  position: fixed;
  right: 0;
  top: 33%;
}

.feed-container {
  overflow: unset;
  width: 100vh;
  max-height: 100%;
  position: absolute;
  left: 25%;
  top: 0;
}

.piece-card {
  width: 55%;
  height: auto;
  margin: 3px 0px;
  display: grid;
}

.piece-photo {
  background: rgba(255,255,255,.5);
  width: 100%;
  height: 100%;
  position: relative;
  grid-row: 1;
  grid-column: 1;

}

.piece-info {
  background: rgba(255,255,255,.7);
  width: 100%;
  height: 100%;
  grid-row: 1;
  grid-column: 1;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

